@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Edu+TAS+Beginner:wght@500;600&family=Quicksand:wght@400;500&display=swap');


$fontH1:'Agbalumo';
$fontH2:'Edu TAS Beginner';
$fontP:'Quicksand';

$fontS1:2.5rem;
$fontS2:1.5rem;
$fontSp:15px;
