.cart{
    display: flex;
    justify-content: center;
    padding: 3.7rem;
    .cart-products{
        background-color: $bg-300;
        padding: 0 5rem 0 5rem;
        border-radius: 10px;
        border: 2px solid $primary-100;
        text-align: center;
        p{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .product{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 4rem;
                height: 4rem;
                border-radius: 5px;
            }
            ul li{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px;
                border: 1px solid $primary-300;
                border-radius: 10px;
                .prod-info{
                    margin-top: 1rem;
                }
            }
        }
    }
    .cart-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: $bg-300;
        padding: 30px;
        border-radius: 10px;
        border: 2px solid $primary-100;
    }
}