.nav{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $bg-200;
    h1{
        margin-left: 10px;
    }
}

.icon{
    margin:0 40px 10px 0;
    display: flex;
    align-items: center;
    color: $text-200;
    transition: .5s ease;
    &:hover{
        color: $text-100;
        transform: scale(1.4);
    }
}

.header ul {
    display: flex;
    justify-content: center;
    li{
        padding: 5px 15px 0 15px;
        transition: all .5s;
        &:hover{
            color: $primary-200;
        }
    }
}